{% extends "template.jinja" %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block content %}

<h1>Contact Me</h1>

<p> Feel free to give any suggestions or ask any questions you may have. 
    <ul>
        <li><a href="http://goo.gl/forms/9mK4fRpIQI">Contact form here</a>.</li> 
        <li><a href="mailto:jessica.yung.18@ucl.ac.uk">Send me an email</a>.</li>
    </ul>
</p>

{% endblock %}
