{% extends "template.jinja" %}
{% block title %}Debating Motions{% endblock %}
{% block description %}Search for motions by keyword, category, Chief Adjudicator or tournament.
{% endblock %}
{% block content %}
<div class="jumbotron">
      <div class="container">
        <h1>Hello, motions!</h1>
        <p>Search for motions by keyword, category, Chief Adjudicator or tournament. <a href="https://docs.google.com/spreadsheets/d/1qQlqFeJ3iYbzXYrLBMgbmT6LcJLj6JcG3LJyZSbkAJY/edit?usp=sharing">Access the motions spreadsheet directly here</a>. </p>

          <form action="search" method="get" id="search-motions" >
          <div class="row">
            <div class="form-group, col-md-6">
                <input class="form-control" type="text" name="q" placeholder="e.g. climate change, South Korea, Cambridge IV">
            </div>
            <div class="form-group, col-md-2">
              <a href={{url_for('search')}}><button type="button" class="btn">Advanced</button></a>
            </div>
            <div class="form-group, col-md-2">
              <button type="submit" class="btn btn-success">Search</button>
            </div>
          </div>
          </form>

          <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a> -->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">

        <h2>New Features</h2>
          <p><ol>
            <li><a href={{url_for('random_motions')}}>Ten Random Motions</a></li>
            <li><a href="http://hellomotions.com/search/?q=&intl=0&All+topics=All+topics&start_year=1999&end_year=2022&cas=Enting+Lee%2C+Milos+Marjanovic%2C+Brent+Schmidt%2C+Hadar+Goldberg%2C+Juanita+Hincapié+Restrepo%2C+Noluthando+Honono%2C++++Robert+Barrie%2C+Yarn+Shih">Motions set by the 2022 Belgrade WUDC CA Team</a></li>
            <li><a href="http://hellomotions.com/search/?q=&intl=0&All+topics=All+topics&start_year=1999&end_year=2022&cas=Emma+Lucas%2C+Matt+Hazell%2C+Klaudia+Maciejewska%2C+Lior+Sokol%2C+Marta+Vasić%2C+Mukhtar+Tashkenbayev">Motions set by the 2022 Zagreb EUDC CA Team</a></li>
            <li><a href={{url_for('wudc_motions')}}>WUDC Motions</a></li>
            <li><a href={{url_for('eudc_motions')}}>EUDC Motions</a></li>
            <li><a href="search?q=&intl=1">Filter for only international tournaments</a></li>
          </ol></p>
        </div>

        <div class="col-md-4">
          <h2>Want to contribute?</h2>
          <p>
            <ul>
              <li>We need <b>your help</b> to make sure these motions are comprehensive and up-to-date. <a href="https://docs.google.com/forms/d/14v5RuG6NHjDySrLN8zJC97-e761sRBivhOoPxjt0K6I/viewform?c=0&w=1">Tell us about motions from tournaments here.</a> <a href="missingmotions">Here is a list of motions we are missing.</a></li>
              <li><a href="mailto:jessica.yung.18@ucl.ac.uk">Contact me directly</a> if you have other questions or suggestions. Thanks a lot!</li>
            </ul>
          </p>
        </div>

        <div class="col-md-4">
          <h2>Our Aim</h2>
          <p> No more clicking through a bajillion sites or blog posts to find motions on feminism - we can give you a list of recent ones.</p>
          <p><a class="btn btn-default" href="about" role="button">Read More</a></p>
        </div>

      </div> <!-- /row -->
    </div> <!-- /container -->
    <div class="container">
      <div class="row">

        <h2> Recent Motions </h2>

        <table class="table table-striped">
          <tr>
           <th>Date</th>
           <th>Tournament</th>
           <th>Round</th>
           <th>Motion</th>
          </tr>
          {% for motion in recent_motions %}
            <tr>
                <td> {{ motion.date }} </td>
                <td> {{ motion.tournament }} </td>
                <td> {{ motion.round }} </td>
                <td> {{ motion.motion }} </td>
            </tr>
          {% endfor %}
        </table>

        <p><a href="motions2020"> Show Full List for 2020</a></p>
        <p><a href="motions2019"> Show Full List for 2019</a></p>
        <p><a href="motions2018"> Show Full List for 2018</a></p>
        <p><a href="motions2017"> Show Full List for 2017</a></p>
        <p><a href="motions2016"> Show Full List for 2016</a></p>
        <p><a href="motions2015"> Show Full List for 2015</a></p>
        <p><a href="motions2014"> Show Full List for 2014</a></p>
        <p><a href="motions-2013-and-earlier"> Show Full List for 2013 and earlier</a></p>
        <p><a href="search"> Show All Motions</a></p>
      </div> <!-- /row -->
    </div> <!-- /container -->
{% endblock %}
