{% extends "template.jinja" %}
{% block title %}Random Motions{% endblock %}
{% block description %}Shows {{num}} random motions.{% endblock %}
{% block content %}

<h1>{{num}} Random Motions</h1>

<form method="get" id="search-motions">
	<div class="row">
		<div class="col-md-4">
			<button type="submit" class="btn btn-primary">Refresh</button>
		</div>
	</div>
	<div id="accordion">
		<div class="row" id="advancedsearch-button">
			<div class="col-md-9">
				<h5 class="mb-0">
					<button class="btn btn-outline-primary collapsed" data-toggle="collapse" data-target="#advancedsearch" aria-expanded="false" aria-controls="advancedsearch" type="button">
					Advanced search filters (Filter by category, year range, CAs)
					</button>
				</h5>
			</div>
		</div>
		<div id="advancedsearch" class="collapse" aria-labelledby="advancedsearch-button" data-parent="#accordion">
			<div class="row">
				<div class="form-group, col-md-8">
					{% if "q" in query_info.request_args %}
						<input class="form-control" type="text" name="q" placeholder="Search term, e.g. climate change, South Korea, Cambridge IV", value="{{query_info.search_term}}">
					{% else %}
						<input class="form-control" type="text" name="q" placeholder="Search term, e.g. climate change, South Korea, Cambridge IV">
					{% endif %}	                	        
				</div>
				<div class="form-group col-md-4">
					<select name="intl" class="form-control">
						{% if query_info.intl == "1" %}
							<option value="0">All Tournaments</option>
							<option value="1" selected>Internationals Only</option>
							<option value="2">Large Internationals Only</option>
							<option value="3">WUDC Only</option>
						{% elif query_info.intl == "2" %}
							<option value="0">All Tournaments</option>
							<option value="1">Internationals Only</option>
							<option value="2" selected>Large Internationals Only</option>
							<option value="3">WUDC Only</option>
						{% elif query_info.intl == "3" %}
							<option value="0">All Tournaments</option>
							<option value="1">Internationals Only</option>
							<option value="2">Large Internationals Only</option>
							<option value="3" selected>WUDC Only</option>
						{% else %}
							<option value="0">All Tournaments</option>
							<option value="1">Internationals Only</option>
							<option value="2">Large Internationals Only</option>
							<option value="3">WUDC Only</option>
						{% endif %}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-2">
				<h6>Filter by category</h6>
					{% if "q" in query_info.request_args and "All topics" not in query_info.request_args %}
						<input type="checkbox" name="All topics" value="All topics" Checked>All topics<br>
					{% else %}
						<input type="checkbox" name="All topics" value="All topics" Checked>All topics<br>
					{% endif %}
					{% for category in categories %}
						{% if loop.index0 % 6 == 5 %}
							</div>
							<div class="form-group col-md-2">
						{% endif %}
					{% if category in query_info.request_args %}
						<input type="checkbox" name="{{category}}" value="{{category}}" Checked>{{ category}}<br>
					{% else %}
						<input type="checkbox" name="{{category}}" value="{{category}}">{{ category}}<br>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<h6>Year range</h6>
					<input type="number" name="start_year", min="1999" max={{current_year}} step="1" value={{query_info.start_year}}> to <input type="number" name="end_year" min="1999" max={{current_year}} step="1" value={{query_info.end_year}}>
				</div>
				<div class="col-md-4">
					<h6>Chief Adjudicators</h6>
						{% if query_info.cas %}
							<input class="form-control" type="text" name="cas" placeholder="Separate CA names with commas. E.g.: John Doe, Jane Doe", value="{{query_info.cas}}">
						{% else %}
							<input class="form-control" type="text" name="cas" placeholder="Separate CA names with commas. E.g.: John Doe, Jane Doe">
						{% endif %}	
				</div>
				<div class="col-md-3">
					<h6>Number of motions</h6>
					<input type="number" class="form-control" name="num_motions", min=1 max=25 step="1" value={{num}}>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<button type="submit" class="btn btn-primary">Filter</button>
				</div>
			</div>			
		</div>
	</div>
        
</form>
<div class="row">
	<div class="col-md-4">
		<button type="button" class="btn btn-link"><a href={{url_for('random_motions')}}>Reset query</a></button>
	</div>
</div>

{% for motion in random_motions %}
<div class="col-md-6">
<div class="panel panel-default">
	<div class="panel-body">
		<b>{{ motion.motion }}</b>
		<div>
			<p>{{ motion.infoslide }}</p>	
		</div>
		<div class="text-right">
			<p><a href="/search?q={{motion.tournament}}">{{motion.tournament}}</a> / {{motion.round}} / {{motion.date}}</p>
		</div>
	</div>
</div>
</div>
{% endfor %}

{% endblock %}

